body, .page-footer {
    margin: 0;
    padding: 0;
    font-family: Quicksand;
    background: #12171C;
    color: white;
}
.homePic {
    width: 100% !important;
    height: auto !important;
}
.raidSelect {
    padding-top: 50px;
}
nav {
    background: #12171C;
}
nav ul li a { 
    color: #ff7f11;
}
nav .input-field {
    height: 30px;
    padding-top: 17px;
}
.material-icons {
    color: #ff7f11;
}
nav .input-field input {
    border-radius: 12px;
    border: 1px solid #12171C;
}
.label-icon {
    margin-top: -12px;
}
.dropdown-content {
    background: #12171C;
}
.dropdown-content li > a {
    color: #ff7f11;
}
.dropdown-content li:hover {
    background-color: #33332d;
}
.dropdown-content li > span {
    color: #ff7f11;
}
.hello {
    color: #ff7f11;
}
.error {
    color: red;
}
.tabs .indicator {
    background-color: #d13400;
    height: 3px;
}
.tabs .tab a:hover,
.tabs .tab a.active {
    background: #12171C;   
    color: #d13400;
}
.tabs .tab a{        
    padding-top: 0px;
    background: #12171C;   
    text-decoration: none;
    color: #ff7f11;
}
.tabs {
    position: fixed;
    background: #12171C;
}
/*gestion du menu utilisateur */
.fixed-action-btn {
    position: fixed; 
    right: 23px;
    bottom: 23px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 997;
    color: #ff7f11;
}
.fixed-action-btn .fab-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 40px;
    height: 40px;
    background-color: #ff7f11;
    border-radius: 50%;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.btn-floating {
    background-color: #ff7f11;
    color: #12171C;
}
.btn-floating i {
    color: #12171C;
}
.btn-floating:hover {
    background: #d13400;
}
.btn-large {
    background: #ff7f11;
    color: #12171C;
}
.btn-large:hover {
    background: #d13400;
}
.fixed-action-btn.toolbar ul li a {
    background: #12171C;
}
.fixed-action-btn .fab-backdrop {
    background: #12171C;
}
.large .material-icons {
    color: #12171C;
}
.menu {
    padding-left: 100px;
    padding-right: 100px;
    background: #12171C;
}
small {
    color: #ff7f11;
}
.center {
    margin-left: 250px;
}
.centerCharacters {
    margin-left: 60px;
}
.centerEnnemies {
    margin-left: 80px;
}
.centerFactions {
    margin-left: 30px;
}
.centerFactionsAstre {
    margin-left: 70px;
}
.nav-extend {
    margin-bottom: 0px;
    height: 100px;
}
.parallax-container {
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#story {
    margin-top: 20px;
}
.content {
    width: 1200px;
    margin: 30px auto;
    text-align: justify;
    font-size: 15px;
    line-height: 30px;
    margin-top: 100px;
}
.titleList {
    font-weight: bold;
    color: #d13400;
    list-style: none;
}
.aceList {
    font-weight: bold;
    color: #d13400;   
}
.weaponPic {
    width: 100%;
}
.picture { 
    width: 100%;
}
.videoDestiny {
    width: 100%;
    height: 700px;
}
.brand-logo {
    margin-top: 10px;
    margin-left: 20px;
}
.modal, .modal2 {
    border-radius: 15px;
    background: #12171C;
    width: 500px;
}
.modal .modal-footer, .modal2 .modal-footer {
    background: #12171C;
}
.modal-content {
    background: #12171C;
    height: 200px;
}
.modal-footer  {
    background: #12171C;
} 
.btn, .btn-flat {
    background: #ff7f11;
    color: #12171C;
    border-radius: 15px;
}
.btn, .btn-large, .btn-flat, .add {
    margin-left: -44px;
}


.validate {
    background: white;
    color: white;
}
.btn:hover {
    background: #d13400;
}
/* css pour le checkbox sur modal de connection */
[type="checkbox"]:checked + label::before {
    border-right: 2px solid #d13400;
    border-bottom: 2px solid #d13400;
}

.card {
    color: #12171C;
    background: #12171C;
}
.card-image img{
    height: 200px;  
}
.description {
    color: #12171C;
}
.goodiesPicMin {
    width: 100%;
}
/* lors du zoom sur une image */
#materialbox-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #292929;
    background
    z-index: 1000;
    will-change: opacity;
}
.divider {
    background: #d13400;
}
/**
* stylisation du datepicker 
*/

/*selection du jour */
.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
    border-radius: 50%;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    background: #d13400;
    color: #ffffff;
}
/* encart de gauche */
.picker__date-display {
    text-align: left;
    background-color: #12171C;
    color: #fff;
    padding: 18px;
    font-weight: 300;
}
/* bouton et footer datepicker */
.picker__footer {
    text-align: right;
    padding: 5px 10px;
}
.picker__close, .picker__today, .picker__clear {
    font-size: 1.1rem;
    padding: 0 1rem;
    color: #12171C;
    background: none;
}
.picker__today {
    margin-right: 40px;
}
.picker__clear{
    margin-left: 10px;
    color: #d13400;
}
.picker__day.picker__day--today {
    color: #ff7f11;
}


/**
* stylisation du formulaire
*/
/**
* modification de la liste déroulante 
*/
/* couleur de la selection désactivé */
.select-dropdown li.disabled,
.select-dropdown li.disabled > span,
.select-dropdown li.optgroup {
    color: #9E9E9E;
    background-color: transparent;
}
/**
*modification du textarea wysiwyg
*/
.tinymce-enabled-message {
    height: 600px;
}
/*.mce-floatpanel {
    width: 600px !important;
}*/
.mce-checkbox {
    left: 140px !important;
}
.mce-textbox.mce-abs-layout-item {
    width: 60px !important;
    left: 250px;
}
.mce-textbox.mce-abs-layout-item.mce-last {
    width: 300px !important;
    left: 180px !important;
}
.mce-widget.mce-label.mce-abs-layout-item.mce-first {
    width: 150px !important;
}
.mce-content-body {
    background: #FFF !important;
}
.artwork {
    color: #FFF !important;
}
.delProfil {
    height: 300px;
}
/* css tableau users */
table.highlight > tbody > tr:hover {
    background-color: #3a3935;
}

img {
    width: 100%;
    height: auto;   
}
.mod {
    margin-left: 0px;
}
/**
* pour mobile
*/

@media only screen and (max-width : 992px) {
    body {
        padding-left: 0;
    }
    img {
        max-width: 100%;
        height: auto;
        align-content: space-around;
    }
    h1 {
        font-size: 45px;
    }
    h2 {
        font-size: 35px;
    }
    h4 {
        font-size: 15px;
    }
    .tabs {
        width: 100%;
        margin-left: -10px;
    }
    .container {
        margin-left: 10px;
    }
    .parallax {
        height: 200px;
        background-image: fixed center no-repeat cover 100%;
    }
    .parallax-container{
        height: 200px;
    }
    /*bouton navigation user*/
    .fixed-action-btn {
        position: fixed; 
        right: 10px;
        bottom: 5px;
        padding-top: 5px;
        margin-bottom: 0;
        z-index: 997;
        color: #ff7f11;
    }
    .fixed-action-btn .fab-backdrop {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 40px;
        height: 40px;
        background-color: #ff7f11;
        border-radius: 50%;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    .menu {
        padding-left: 0px;
        padding-right: 20px;
    }
    .videoDestiny {
        height: 200px;
    }
    .modal {
        width: 100%;
        height: auto;
        line-height: 18px;
    }
    nav {
        height: 65px;
    }
    .side-nav {
        background: #12171C;
    }
    .side-nav li > a {
        color: #ff7f11;
    }
    .side-nav li > a > i.material-icons {
        color: #ff7f11;
    }
    .side-nav li > a.btn {
        color: #12171C;
    }
    .side-nav li > a.btn:hover {
        background: #d13400;
    }
    .brand-logo {
        margin-left: 0px;
    }
    .hello {
        padding-left: 100px;
    }
}

